###############################################################################
# Ignorar arquivos temporários e cache do Visual Studio
###############################################################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

###############################################################################
# Ignorar binários e arquivos compilados
###############################################################################
[Bb]in/
[Oo]bj/
[Ll]og/
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.lib
*.bsc
*.exp

###############################################################################
# Ignorar arquivos temporários de build
###############################################################################
ipch/
*.iobj
*.ipdb
*.tmp
*.log
*.vsidx
*.tlog
*.lastbuildstate
*.idb

###############################################################################
# Ignorar pacotes NuGet e similares
###############################################################################
*.nupkg
*.nuspec
packages/

###############################################################################
# Ignorar arquivos de publicação
###############################################################################
.publish/
*.pubxml
*.publishsettings

###############################################################################
# Ignorar arquivos de análise e indexação
###############################################################################
*.opendb
*.VC.db
*.VC.VC.opendb

###############################################################################
# Ignorar arquivos de teste e temporários
###############################################################################
TestResults/
*.trx
*.coverage
*.coveragexml

###############################################################################
# Ignorar backups do editor
###############################################################################
*~
*.bak
*.swp
*.swo
*.tmp
/Resume/_initializer_list/Debug/main.obj
/Resume/_initializer_list/Debug
/Resume/_map/Debug
/Resume/Abstract Class/Debug
/Resume/Access Specifiers/Debug
/Resume/Accessors and Mutators/Debug
/Resume/Agregation Composition/Debug
/Resume/Array/Debug
/Resume/auto_keyword/Debug
/Resume/Bitwise Operators/Debug
/Resume/Boolean Comparisons/Debug
/Resume/Casting/Debug
/Resume/Chesire Cat/Debug
/Resume/Class/Debug
/Resume/Constants/Debug
/Resume/Constants advanced/Debug
/Resume/Control Flow Structures/Debug
/Resume/Copy Constructor/Debug
/Resume/Data Types/Debug
/Resume/Debugging Flags/Debug
/Resume/Defensive Programming/Debug
/Resume/Enum/Debug
